<div class="admin-breadcrumbs"><%= link_to "Collections", collections_path %> &#8250; <span>Edit a collection</span></div>
<h1 class="admin-heading">Edit a collection</h1>

<%= render 'form', collection: @collection %>