<div class="admin-breadcrumbs"><%= link_to "Collections", collections_path %> &#8250; <span>Add a collection</span></div>
<h1 class="admin-heading">Add a person</h1>

<%= render 'form', collection: @collection %>