<div class="admin-breadcrumbs"><%= link_to "Leadserhip Roles", admin_leadership_roles_path %> &#8250; <span>Edit a leadership role</span></div>

<h1 class="admin-heading">Edit a leadership role</h1>

<%= render 'form', leadership_role: @leadership_role %>