<div class="admin-breadcrumbs"><%= link_to "Leadership Roles", leadership_roles_path %> &#8250; <span>Create a leadership role</span></div>
<h1 class="admin-heading">Create a leadership role</h1>

<%= render 'form', leadership_role: @leadership_role %>