<%= javascript_include_tag "user_registration_form" %>
<div class="admin-breadcrumbs">
    <%= link_to "Users", admin_users_path %> &#8250; <span>Create a user account</span>
</div>
<h1 class="admin-heading">Create New User Account</h1>
<%= render 'form' %>
