<div class="admin-breadcrumbs"><%= link_to "Page Carousel Slides", page_carousel_slides_path %> &#8250; <span>Create a page carousel slide</span></div>
<h1 class="admin-heading">Create a page carousel slide</h1>

<%= render 'form', page_carousel_slide: @page_carousel_slide %>
