<div class="admin-breadcrumbs"><%= link_to "Community Groups", comm_groups_path %> &#8250; <span>Add a group</span></div>
<h1 class="admin-heading">Add a group</h1>

<%= render 'form', comm_group: @comm_group %>