<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @comm_group.name %>
</p>

<%= link_to 'Edit', edit_admin_comm_group_path(@comm_group) %> |
<%= link_to 'Back', admin_comm_groups_path %>
