<div class="admin-breadcrumbs"><%= link_to "News Items", admin_news_items_path %> &#8250; <span>Create a news item</span></div>
<h1 class="admin-heading">Create a news item</h1>
<%= render 'form', news_item: @news_item %>