<div class="admin-breadcrumbs"><%= link_to "Tags", archive_tags_path %> &#8250; <span>Update tag</span></div>
<h1 class="admin-heading">Create a tag</h1>

<%= render 'form', archive_tag: @archive_tag %>
