<div class="admin-breadcrumbs"><%= link_to "Carousel slides", carousel_slides_path %> &#8250; <span>Create a slide</span></div>
<h1 class="admin-heading">Create a slide</h1>

<%= render 'form', carousel_slide: @carousel_slide %>

