<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% archive_url = Rails.env == "production" ? "https://www.albinacommunityarchive.org/" : "http://localhost:3333/" %>
    <%= link_to 'View Item', Rails.env == "production" ? "https://www.albinacommunityarchive.org/" : "http://localhost:3333/" + @id.to_s, form: {target: "_blank"}%>
    <h3>
      <a href="mailto:#{@email_addy}"><%= "#{@first_name} #{@last_name}" %></a> Comment:
    </h3>
    <p><%= @comment %></p>
  </body>
</html>
