@import "variables";

.direct-upload {
    display: inline-block;
    position: relative;
    padding: 5px 0px;
    margin-top: 3;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-size: 11px;
    line-height: 13px;
  }

  .direct-upload__filename {
      margin-left: 10px;
  }
  
  .direct-upload--pending {
    opacity: 0.6;
  }
  
  .direct-upload__progress {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0.5;
    background: $purple-6;
    transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
    transform: translate3d(0, 0, 0);
  }
  
  .direct-upload--complete .direct-upload__progress {
    opacity: 0.8;
  }
  
  .direct-upload--error {
    border-color: red;
  }
  
  input[type=file][data-direct-upload-url][disabled] {
    display: none;
  }