@use "variables";

.dz-button, .dz-success-mark, .dz-error-mark, .dz-size {
  display: none;
}

.dropzone {
  border: solid 1px white;
  padding: 15px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  z-index: -1;
}

.upload-container {
  border: purple dashed;
  padding: 10px;
  cursor: pointer;
}
.previews-container {
  .dz-preview:first-of-type {
    margin-top: 30px;
  }
  cursor: default !important;

  .dz-remove {
    color: red !important;
    text-decoration: underline !important;
    font-weight: bold;
  }

  .dz-preview {
    border: 1px solid variables.$black-5;
    border-radius: 6px;
    padding: 5px;
  }
}
